In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import scipy as sp

In [4]:
df = pd.read_csv("C:/Users/123/Desktop/cmpgn/edu_cmpgn.csv")
df.head(5)

,cstr_cd,cmpgn_id,std_dt,cgrp_cl_cd,cgrp_id,dpstr_cust_no,memb_sex_cl_cd,age_cd,excll_cust_grde_mdcls_cd,pch_amt_dt_total,trn_1,trn_2,pch_cnt_dt_total,pch_cnt_total,pch_cnt_aftr_cmpgn_fnl,pch_amt_total,pch_amt_expt_tr_1
0,1,C0080721,2021-02-06,C,ND20210204214208,1234810822647,2,40,9999,165000,165000,0,1,1,0,165000,0
1,1,C0080721,2021-02-06,C,ND20210204214208,1344821355172,2,30,9999,1055000,345000,710000,3,3,2,1055000,710000
2,1,C0080721,2021-02-06,C,ND20210204214208,1237311645172,2,20,9999,11000,11000,0,1,1,0,11000,0
3,1,C0080721,2021-02-06,C,ND20210204214208,1235116592445,1,30,9999,13100,13100,0,1,2,1,25100,12000
4,1,C0080721,2021-02-06,C,ND20210204214208,1234880386182,1,40,9999,35000,35000,0,1,1,0,35000,0

In [9]:
df.iloc[3,:]

cstr_cd                                    1
cmpgn_id                            C0080721
std_dt                            2021-02-06
cgrp_cl_cd                                 C
cgrp_id                     ND20210204214208
dpstr_cust_no                  1235116592445
memb_sex_cl_cd                             1
age_cd                                    30
excll_cust_grde_mdcls_cd                9999
pch_amt_dt_total                       13100
trn_1                                  13100
trn_2                                      0
pch_cnt_dt_total                           1
pch_cnt_total                              2
pch_cnt_aftr_cmpgn_fnl                     1
pch_amt_total                          25100
pch_amt_expt_tr_1                      12000
Name: 3, dtype: object